html {
  padding: 0;
}

body {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "DejaVu Sans", Verdana, sans-serif;
  font-size: 11pt;
  line-height: 1.6;
  margin: 40pt;
  padding: 0;
}
ul, ol {
  padding-left: 1em;
}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  line-height: 1.1;
  color: inherit
}

h1,h2,h3,h4,h5,h6 {
  margin-top: 3em;
  margin-bottom: 1em
}

p {
  margin: 0 0 2em
}

.outline-2 h1 {
  font-size: 2.5em;
}

.outline-2 h2 {
  font-size: 2em;
}

.outline-2 h3 {
  font-size: 1.5em;
}

.outline-2 h4 {
  font-size: 1.2em
}

.outline-2 h5 {
  font-size: 1.1em
}

.outline-2 h6 {
  font-size: 1.1em
}

.outline-2 code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  white-space: nowrap;
  border-radius: 4px;
  font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;
}

.outline-2 table{
  width: 100%;
}

table tbody tr:nth-child(odd){
  background-color: #efefef;
}

.title {
}

#orgquote {
  position: fixed;
  display: block;
  top: 77px;
  padding: 5pt;
  text-align: center;
  background-color: black;
  width: 100%;
  color: #ccc;
  box-shadow: 0px 15px 10px #fff;
  font-size: 90%;
  font-family: Courier new;
  z-index: 98;
}

h1.title {
  text-shadow: 2px 2px 4px #999;
  font-size: 23pt;
  margin: 1em 0;
}

.timestamp {
  font-family: Courier New;
  color: #888888;
}

pre, blockquote {
  margin-bottom: 1em;
}

pre {
  margin: 0;
  padding: 1em;
  line-height: 1.45;
  font-size: 95%;
  font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;
  border-radius: 3px;
  overflow: auto;
}

blockquote {
  padding: 0 1em;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
  margin: 0;
}

.org-src-container, .example {
  width: 100%;
  overflow-x: auto;
  border-left: 0.25em solid #dfe2e5;
  border-radius: 0.5rem;
  background-color: #f6f8fa;
  margin-bottom: 2em;
}

#outline-container-1 {
  padding-top: 3pt;
}

p {
  margin-top: 0;
  text-align: justify;
}

a:link {
  font-weight: normal;
  text-decoration: none;
}

a:visited {
  font-weight: normal;
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}

dd {
  text-align: justify;
  margin-bottom: 14pt;
}

dt {
  font-size: 110%;
  font-family: Courier New;
  color: #1c3030;
  padding: 3px;
  margin-bottom: 3px;
}

li {
  margin: 2em 0 2em 1em;
  text-align: justify;
}

#table-of-contents {
  font-size: 9pt;
  position: fixed;
  right: 0em;
  top: 0em;
  background: white;
  -webkit-box-shadow: 0 0 1em #777777;
  -moz-box-shadow: 0 0 1em #777777;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  text-align: right;
  max-height: 80%;
  overflow: auto;
  z-index: 200;
}

#table-of-contents h2 {
  font-size: 9pt;
  max-width: 8em;
  font-weight: normal;
  padding-left: 0.5em;
  padding-top: 0.05em;
  padding-bottom: 0.05em;
}

#table-of-contents ul {
  margin-left: 14pt;
  margin-bottom: 10pt;
  padding: 0
}

#table-of-contents li {
  padding: 0;
  margin: 1px;
  list-style: none;
}

#table-of-contents ul>:first-child {
  color: blue;
}

#table-of-contents #text-table-of-contents {
  display: none;
  text-align: left;
}

#table-of-contents:hover #text-table-of-contents {
  display: block;
  padding: 0.5em;
  margin-top: -1.5em;
}

img {
  border: 1px solid black;
}
img.random {
  max-width: 750px;
  max-height: 380px;
  margin-bottom: 10pt;
}
.underline{
  text-decoration: underline;
}
del{
  text-decoration: line-through;
}
i{
  font-style: italic;
}
@media screen
{
  #table-of-contents {
    float: right;
    border: 1px solid #CCC;
    max-width: 50%;
    overflow: auto;
  }
} /* END OF @media screen */

.footdef {
}
.footdef sup {
  float: left;
  width: 3em;
}
.footdef > .footpara {
  margin-left: 3em;
  overflow-x: hidden;
}
.org-src-container {
  width: 100%;
  overflow-x: auto;
}
